* {
    margin:0;
    padding: 0;
    box-sizing:border-box;
}

body {

    font-family: 'Roboto', sans-serif;

}

/* index_page */



.Main {

    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: black;
    animation: rotate 50s infinite linear;
} 
 
@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}


.Sanaz  {

    font-size: 35px;
    font-weight: 400;
    color: black; 
    z-index: 10;

}

.Sanaz a {

    text-decoration: none;
    color: black;

}

.Sanaz a:hover {

    color: rgb(255, 255, 255);
}


/* Project_Page */

.Container {

    display: flex;
    flex-wrap: wrap;
 
}


.SF {

    font-size: 20px;
    font-weight: 450;
    color: black;

}

.col-20 {
    
    width: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-size: 20px;
    font-weight: 300;
   
}

.Menu {

    position: fixed;
}

ul {

    list-style-type: none;
    padding: 15px 0 0 0;
    margin: 0;
    
}


.Nav a {

    text-decoration: none;
    color: black;
    position: relative;
}

.Nav a:hover {
    color: rgb(255, 255, 255);
}


.Nav a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -13px;
    transform: translateY(-50%);
    border-left: 8px solid rgb(224, 224, 4);
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    opacity: 0;
    transition: opacity 0.3s;
}
  
.Nav a.selected::before {
    opacity: 1;
}

/*
.Nav a.selected {
    background-color: yellow;
    color: black;
}
  
.Nav a.selected::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    height: 100%;
    width: 8px;
    
}
*/

.col-80 {
    
    width: 80%;
    display: flex;
    font-size: 60px;
    font-weight: 300;
    justify-content: center;
    flex-direction: column;
    padding: 0 100px;

}

.Project a {

    padding-left: 40px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.Project a:hover {

    color: rgba(222, 223, 165, 0.699);
    /*border: 2px dashed  rgb(224, 224, 4);*/
    border-radius: 25% 30% 30% 60%;
    letter-spacing: 15px; 
    
}


/* Projects */

.PR {
 
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 0 100px 0 144px;

}
.main_title{
    position: fixed;
    padding-top: 62px;
    background-color: white;
    width: 100%;
    z-index: 3;
}


.title {

    font-size: 30px;
    font-weight: 400;  
}

.title_1 {

    font-size: 30px;
    font-weight: 400;  
}

.Hint {
    font-size: small;
    font-weight: 300;
    color: rgb(170, 169, 169);
    padding-bottom: 5px;
   
}

.Info_Pub {

    font-size: small;
    font-weight: 300;
    color: rgb(170, 169, 169);

}

.SectionTitle h2 {
    font-size: medium;
    font-weight: 500;
    margin-top: 120px;
}

.Exh {

    font-size: small;
    font-weight: 300;
    color: rgb(170, 169, 169);
    margin-bottom: 0.5%;

}

.SectionTitle .Index {

    font-size: medium;
    font-weight: 500;
    margin-top: 30px;
}

.Info_Index {

    color: rgb(170, 169, 169);
    font-weight: 300;
    font-size: small;
    margin-bottom: 0.5%;
}

.SectionTitle .Poster {

    font-size: medium;
    font-weight: 500;
    margin-top: 30px;
}

.Info_Poster {

    color: rgb(170, 169, 169);
    font-weight: 300;
    font-size: small;
    margin-bottom: 0.5%;
}

.Container_first{

    display: flex;
    position: relative;
    cursor: pointer;  
    margin-top: 150px; 
    margin-bottom: 5%;  
}

.Container_first_Pub {

    display: flex;
    position: relative;
    cursor: pointer;  
    margin-top: 4px; 
    margin-bottom: 5%; 

}

.Container_1 {

    display: flex;
    position: relative;
    cursor: pointer; 
    margin-bottom: 5%;  
}


.Content {

    width:70% ;
  
 
}

.Pic {
    cursor: context-menu;
}

.Descriptions {

    width: 30%;
    position: relative;
    cursor: context-menu;
    margin-top: 10px; 
    font-size: medium;
    padding-left: 120px;
  
}

.Descriptions a {
    text-decoration: none; 
    display: block; 
    margin-top: 10px; 
    color: rgb(170, 169, 169);
}

.Descriptions_i {

    width: 30%;
    position: relative;
    cursor: context-menu;
    margin-top: 10px; 
    font-size: medium;
    padding-left: 24px;

}

.Descriptions-p {

    width: 30%;
    position: relative;
    cursor: context-menu;
    margin-top: 10px; 
    font-size: medium;
    padding-left: 3px;

}


/* Teaching_Page */

.Teaching {

    font-size: 20px;
    font-weight: 500;
    white-space: pre;  
}



.TD {
    color: rgb(170, 169, 169);
    font-weight: 400;
}

/* Bio_Page */

.col-80 .Bio {

    font-size: 20px;
    font-weight: 500;
    white-space: pre;
    line-height: 150%;
    margin-top: 25px;
 
    
}


/* Statement_Page */

.Statement {

    font-size: 20px;
    font-weight: 500;
    white-space: pre;
    line-height: 150%;
}

/* Contact_Page */

.Contact{

    font-size: 20px;
    font-weight: 500;
    white-space: pre;
    line-height: 150%;
}


/* Top */

  .top {
    position: fixed;
    font-size: 2em;
    right: 20px;
    bottom: 20px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid  rgb(224, 224, 4);
    opacity: .5;
    animation: arrowmover 2s infinite ease-in-out alternate;
}

@keyframes arrowmover {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
}


/* -------------------- CSS for smaller screen ------------------- */

@media screen and (max-width: 768px) {

.main_title {

        position: unset!important;
    
}

.Menu {
position: unset;
display: flex!important;
justify-content: space-between;
padding: 8px 14px 0 12px;
font-size: medium!important;
       
}


.title {
    position: unset!important;
    font-size: 20px;
    padding-top: 28px!important;
}


.SF {

    font-size: medium;
    font-weight: 400;
    padding-top: 5%;
}


.PR {
    display: block!important;
    height: unset!important;
    padding: 10px!important;
    width: 100%!important;
}


.Container {
 display: block!important;

}


.Menu > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.col-20 {
    width: 100%!important;
    display: block!important;
    height: unset!important;
    /* height: 100vh; */
    font-size: 10px;
    font-weight: 300;
    /* left: 5px; */
    /* position: relative; */
    padding: 10px 0 5px 0!important;
    top: 0 
}


.col-80 {
    width: 100%!important;
    display: flex!important;
    height: unset!important;
    /* font-size: 9px; */
    font-weight: 300;
    justify-content: flex-end;
    flex-direction: column;
    padding: 0!important;
}


.Nav a::before {
    
    border-left: 5px solid rgb(224, 224, 4);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;

}


/* Teaching_Page */

.Teaching {

    font-size: 15px;
    font-weight: 500;
    white-space: pre-line;
    padding-left: 10px;
}


.TD {
    color: rgb(170, 169, 169);
    font-weight: 400;
}

/* Bio_Page */

.col-80 .Bio {
    white-space: normal!important;
    padding: 8px 10px!important;
    font-size: 15px;
    font-weight: 400;
   
}


/* Statement_Page */

.Statement {
    white-space: normal!important;
    padding: 30px 10px!important;
    font-size: 15px;
    font-weight: 400;
    
}

/* Contact_Page */

.Contact{

    font-size: 15px;
    font-weight: 400;
    margin-left: -24px;
    margin-top: -14px;
}


.Hint {
    position: unset!important;
    padding-top: 5px!important;
    
}


.Container_first {
 margin-top: 16px!important;
 display: block!important;
 
}

.Container_first_Pub {

 margin-top: 7px!important;
 display: block!important;

}

.Content img {
    width: 143%!important;
  
}


.Container_1 {
    display: block!important
}


.Descriptions {
    width: 100%!important;
    position: unset!important;
    font-size: 15px;
    padding-left: unset;
}

.Descriptions_i {

    width: 100%!important;
    position: unset!important;
    font-size: 15px;
    padding-left: unset;

}

.Descriptions-p  {

    width: 100%!important;
    position: unset!important;
    font-size: 15px;
    padding-left: unset;

}

.Main img {
    width: 100%;
    padding: 0 35px;
}


.Sanaz a {
    font-size: 25px;
}


ul.Project li {
    font-size: 25px!important;
}

.Project a:hover {
    color: unset!important;
    border: unset!important;
    border-radius: unset!important;
    letter-spacing: unset!important;
}


.col-80 ul {
    margin-top: 30px!important;
    margin-left: -25px;
    line-height: 70%;
    letter-spacing: 8px;
    font-weight: 400;
}

.SectionTitle h2 {
    font-size: medium;
    font-weight: 500;
    margin-top: 13px;
}

.Content .Choice {

    width: 142%!important;
    
}


.title_1 {
    padding-top: 15px!important;
    position: unset!important;

}

.Descriptions a {

    margin-top: unset!important; 
   
}

.Nav a::before {
   
    left: -8px!important;  
}
}



.D1 {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

@media screen and (max-width: 768px) {

    .D1 {
    overflow: hidden!important;
   
    }
}    


@media screen and (max-width: 990px) {

    .Statement {
        white-space: normal!important;
        padding: 30px 10px!important;
        font-size: 17px;
        font-weight: 400;
        
    }

    .Bio {
        white-space: normal!important;
        padding: 30px 10px!important;
        font-size: 17px;
        font-weight: 400;
        
    }
}


@media screen and (max-width: 1182px) {


 .main_title {

  position: unset!important;
}

.PR {
    
    padding: 0 14px!important;
    margin-top: -50px!important;

}


.Descriptions {

        padding-left: 0!important;
      
}

.Container_1 {
    display: block!important
}

.Container_first {
    display: block!important;
    margin-top: 26px!important;
}

.Container_first_Pub{
    display: block!important;
    margin-top: 26px!important;
}

}   




